*/html {
	background: #fff;
	color: #000
}

article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul {
	margin: 0;
	padding: 0
}

body,button,input,select,textarea {
	font: 12px Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif
}

input,select,textarea {
	font-size: 100%
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

th {
	text-align: inherit
}

fieldset,img {
	border: none;
	vertical-align: middle
}

iframe {
	display: block
}

abbr,acronym {
	border: none;
	font-feature-settings: normal;
	font-variant: normal
}

del {
	text-decoration: line-through
}

address,caption,cite,code,dfn,em,th,var {
	font-style: normal;
	font-weight: 400
}

ol,ul {
	list-style: none
}

caption,th {
	text-align: left
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: 400
}

q:after,q:before {
	content: ""
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

a {
	transition: color .2s;
	color: #222222;
}

a,a:hover,ins {
	text-decoration: none
}

:focus,a:focus {
	outline: none
}

.clearfix:after,.clearfix:before {
	content: "";
	display: table
}

.clearfix:after {
	clear: both;
	overflow: hidden
}

.clearfix {
	zoom: 1
}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	overflow: hidden
}

.hide {
	display: none
}

.block {
	display: block
}

.fl,.fr {
	display: inline
}

.fl {
	float: left
} 

.fr {
	float: right
}
